files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_artisan.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -e
      
      # Go to the Laravel application directory
      cd /var/app/current
      
      # Run Artisan commands
      php artisan key:generate
      php artisan migrate
      php artisan cache:clear
      php artisan config:cache